/* stylelint-disable selector-class-pattern */
.Overlay[popover] {
  border-width: 0;
}

.Overlay[popover] {
  display: none;
}

.Overlay[popover].\:open {
  display: flex;
}

.Overlay[popover]:open {
  display: flex;
}

/* stylelint-enable selector-class-pattern */
